@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {
  font-family: 'Roboto', sans-serif;
  --color1: #00695c;
  --color2: #00695c;
  --color3: #00695c;
  --color4: #e0f2f1;
  --color5: #fafafa;
  --navbar-height: 6rem;
};

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}