:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color1);
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  height: var(--navbar-height);
  line-height: 2rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;

}

.navbar__search {
  width: 20rem;
  height: 2rem;
  padding: 0 1rem;
  margin-right: 1rem;
}

.navbar__logo {
  height: 2em;
}

.navbar__image {
  height: 100%;
}