:host {
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 24, 28);
  position: sticky;
  color: #e8e7e3;
  top: 0;
  margin-bottom: 5px;
}

.navbar__title {
  font-weight: 700;
  color: #e8e7e3;
  font-size: 2rem;
  margin: 1rem;
}

.navbar__search {
  background-color: #212121;
  border: 0;
  border-bottom: 2px white;
  font-weight: 400;
  font-size: 0.8rem;
  color: #e8e7e3;
  margin: 1rem;
  width: 25vw;
  padding: 5px;
}

.navbar__search:focus {
  outline-width: 0;
}
