:host {
  display: flex;
  justify-content: space-between;
  background-color: #007c91;
}

.navbar__title {
  font-weight: 700;
  color: white;
  font-size: 2rem;
  margin: 1rem;
}

.navbar__search {
  font-weight: 400;
  font-size: 1.1rem;
  margin: 1rem;
}
