.dashboard__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dashboard__container::after {
  content: "";
  flex: auto;
  width: 150px;
}

